.car-shipment {
    background-image: url('track.png');
    background-repeat:no-repeat;
    background-size:contain;
    width:1500%;
    position: relative;
    left: 300px;
    height: 150px;    
}

.car-container-shipment {
    position: relative;
    opacity: .7;
    height: 97px;
    left: 125px;
    top: 4px;
    
}