
.delayed {
    background-color: #fae1e1;
    color: #ff0000;
    padding: 4px 10px;
    border-radius: 5px;
}

.arrives {
    background-color: #00b734;
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 5px;
}